---
export interface Props {
    title: string;
    description?: string;
    favicon?: string;
}

import Nav from "@components/Nav.astro";

const { title, description, favicon } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description ?? "My first astro website!"} />
        <title>{title}</title>
        <link rel="shortcut icon" href={favicon ?? "/favicon.svg"} type="image/x-icon" />
    </head>
    <body>
        <Nav />
        <slot style={{ padding: "10px" }} />
        <p>
            Made with {Astro.generator}
        </p>
    </body>
</html>

<style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

    * {
        font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #240340;
        color: #ffffff;
        margin: 0;
        // padding: 10px;
    }

    h1 {
        margin: 0;
    }

    a {
        color: #c7d900;
        text-decoration: none;

        &:hover {
            color: #818c00;
        }
    }

    main {
        padding: 10px;
    }
</style>
