---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <p>THIS IS A HEADER</p>
        <slot />
        <p>
            THIS IS A FOOTER <br /> Made with {Astro.generator}
        </p>
    </body>
</html>

<style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

    * {
        font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #000033;
        color: white;
        margin: 0;
        padding: 10px;
    }

    h1 {
        margin: 0;
    }
</style>
